# OSX
.DS_Store
__MACOSX

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# iOS
ios/Pods/
ios/build/

# node.js
node_modules/
npm-debug.log
yarn-error.log
logs
*.log
*.tgz
.pnpm-debug.log*

# fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
vendor/bundle/

# Metro & cache
.expo/
.expo-shared/
.expo-cache/
.cache/
.metro-health-check*

# VSCode settings
.vscode/

# Testing
coverage/
.nyc_output
*.lcov
report.*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Dependency & build systems
bower_components/
jspm_packages/
web_modules/
build/Release
dist/
.next
out
.nuxt
.vuepress/dist
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.parcel-cache
.pnp.*
.npm
.npmrc

# TypeScript
*.tsbuildinfo

# ESLint/Stylelint
.eslintcache
.stylelintcache

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Environment
.env
.env.*
.env.development.local
.env.test.local
.env.production.local
.env.local

# REPL history
.node_repl_history
